quiz
Cup1_Text_Feature_Engineering/dataset/
*.zip
Lab11-1_Convolution_Neural_Networks/oregon_wildlife/
Lab11-2_Visualization_and_Style-Transfer/dataset/mscoco/test2014/
Lab11-2_Visualization_and_Style-Transfer/dataset/wikiart/test/
Lab12-1_Seq2Seq_Learning_and_Neural_Machine_Translation/data/IMDB Dataset.csv
Lab12-2_Image_Captioning/words_captcha/
Lab13-2_Generative_Adversarial_Network(GAN)/img_align_celeba_png/
Lab14_MDP_and_Q-Learning_and_SARSA/PyGame-Learning-Environment
Lab15_Deep_Reinforcement_Learning/ple/
Lab15_Deep_Reinforcement_Learning/save/
cifar-10-batches-py/
*.csv
*.h5
*.tar.gz
__pycache__/
checkpoints/
ckpts/
.ipynb_checkpoints/
Cup1_Text_Feature_Engineering/dataset/
Cup2_CNN_for_Object_Detection/VOCdevkit_test/
Cup2_CNN_for_Object_Detection/VOCdevkit_train/
Cup3_Reverse_Image_Caption/dataset
Cup3_Reverse_Image_Caption/dictionary
Cup3_Reverse_Image_Caption/testing
Cup3_Reverse_Image_Caption/102flowers