quiz
dataset/
topic100/
*.zip
oregon_wildlife/
cifar-10-batches-py/
*.csv
*.h5
*.tar.gz
__pycache__/
checkpoints/
.ipynb_checkpoints/
VOCdevkit_test/
VOCdevkit_train/
ckpts/
words_captcha/
img_align_celeba_png/
Cup3_Reverse_Image_Caption/dataset
Cup3_Reverse_Image_Caption/dictionary
Cup3_Reverse_Image_Caption/testing
Cup3_Reverse_Image_Caption/102flowers